<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylink.aml.modular.system.mapper.DataAnalysisMapper">

    <!-- 自定义SQL查询数量 -->
    <select id="customCountSql" parameterType="java.lang.String" resultType="java.lang.Integer">
        <![CDATA[
            ${countSql}
        ]]>
    </select>

    <!-- 自定义SQL查询列表 -->
    <select id="customListSql" parameterType="java.lang.String" resultType="java.util.Map">
        <![CDATA[
            ${listSql}
        ]]>
    </select>
</mapper>