<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylink.aml.modular.system.mapper.DataReportMapper">
    <select id="findOneDate" resultType="java.util.Date">
        SELECT D_INSERT FROM DATA_REPORT ORDER BY D_INSERT DESC LIMIT 1
    </select>
</mapper>