<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylink.aml.modular.system.mapper.RuleTargetMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylink.aml.modular.system.entity.RuleTargetMapping">
        <id column="RULE_ID" property="ruleId"/>
        <result column="TABLE_NAME" property="tableName"/>

    </resultMap>


</mapper>
