<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylink.aml.modular.system.mapper.RuleAutoCheckViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylink.aml.modular.system.entity.RuleAutoCheckView">
        <id column="AUTO_CHECK_ID" property="autoCheckId" />
        <result column="COUNT_TOTAL" property="countTotal" />
        <result column="STATUS_8" property="status8" />
        <result column="STATUS_SUCC" property="statusSucc" />
        <result column="STATUS_A" property="statusA"/>
        <result column="RUN_TIME" property="runTime" />
        <result column="D_INSERT" property="dInsert" />
        <result column="V_INSERT_USER" property="vInsertUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AUTO_CHECK_ID AS autoCheckId, COUNT_TOTAL AS countTotal,STATUS_8 AS status8, STATUS_SUCC AS statusSucc, RUN_TIME AS runTime, D_INSERT AS dInsert, V_INSERT_USER AS vInsertUser
    </sql>
    <select id="getMaxRuleAutoCheckId" resultType="Integer">
        select Max(AUTO_CHECK_ID) from V_RULE_AUTO_CHECK
    </select>
    <select id="getAutoCheckMax" resultType="com.ylink.aml.modular.system.entity.RuleAutoCheckView">
        SELECT * FROM V_RULE_AUTO_CHECK WHERE AUTO_CHECK_ID >0 ORDER BY D_INSERT DESC  LIMIT 0,1
    </select>
</mapper>
